* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 206, 200);
}

.grid {
  display: flex;
  margin: 80px;
}

.grid div {
  flex: 1;
  height: 200px;
  background-color: #cccccc;
  margin: 20px;
}

.grid .one {
  background-color: #fba919
}

.grid .two {
  background-color: rgb(209, 113, 105);
}

.grid .three {
  background-color:#4357a6
}

.grid .four {
  background-color: deeppink;
}

.parent {
  width: 80%;
  margin: auto;
  height: 600px;
  position: relative;
  border: 1px solid black;
}

.parent .one {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(28, 133, 153, 0.85);
  width: 300px;
  height: 300px;
}

.parent .two {
  position: absolute;
  top: 270px;
  left: 190px;
  color: rgba(255, 1, 1, 0.5);
  font-size: 68px;
}

.parent .three {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(219, 74, 207, 0.5);
  width: 300px;
  height: 300px;
}


.sun-box {
  width: 400px;
  margin: auto;
  margin-top: 100px;
}

#fire path {
fill: rgba(255, 1, 1, 0.5);
}

.sun-box {

  animation: sun-rotate 10s infinite linear; 

}
@keyframes sun-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
        fill:rgb(132, 243, 29)
  }
  100% {
    transform: rotate(360deg);
  }
}
